.Titulo__h1{
    background: plum;
}
article{
    background: palevioletred;
}
.busq{
    background: rgb(149, 103, 17);
}

.inputs{
    background: yellow;
}

table{
    background: rgb(147, 83, 104);
}
.arth2{
    background: rgb(233, 92, 139);
}
.arth1{
    background: rgb(219, 27, 91);
}