.Titulo__h1{
    background: plum;
}
article{
    background: palevioletred;
}
.busq{
    background: rgb(149, 103, 17);
    margin: 0px;
}

.inputs{
    background: yellow;
}

table{
    background: rgb(147, 83, 104);
    display: block;
}
.arth2{
    background: plum;
    margin: 0px;
}
.arth1{
    background: rgb(219, 27, 91);
    margin: 0px;
}
.busq1{
    color: whitesmoke;
    background: pink;
}
*{
    margin: 6px;
}