.Titulo__h1{
    font-family: Rumutocu;
}
.busq{
    font-family: Outfit Thin;
}
article{
    font-family: Outfit Thin;
}
table{
    font-family: Outfit Thin;
}
.arth2{
    font-family: Rumutocu;
}
.arth1{
    font-family: Outfit Thin;
}